/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}

.front-page-container {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

/* Navbar styles */
.navbar {
  background-color: rgb(90, 90, 245);
  color: #fff;
  padding: 2px;
  gap: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Set the width as needed */
  height: 100px; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between logo and other content */
  border-radius: 50%; /* Make the logo image round, adjust as needed */
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 0.5rem; /* Reduce the gap between items */
}

.nav-links li {
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #ecf0f1;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0;
  padding: 0;
}
p{
  padding: 0;
  margin: 0;
  gap: 5px;
}

/* Body styles */
.body {
  text-align: justify;
  line-height: 1.6;
  color: #333;
}

/* Responsive Design */
@media (max-width: 600px) {
  .front-page-container {
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0;
  }

  .nav-links {
    margin-top: 10px;
  }
}
